## 학습 목표 

- 머신러닝을 위해서, numpy와 pandas의 사용법을 다시 연습합니다.

- numpy를 사용하여 여러가지 벡터 연산을 연습하고, 실제 데이터 유사도를 계산해봅시다.

In [ ]:
# 마운트 : 우리 컴퓨터에 외장하드를 꽂은 것
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### 1. 라이브러리 연습 예제 

[ 필수 RECAP ]

> Numpy : broadcasting, universal function

> Pandas : fancy indexing, categorical variable encoding

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# data를 불러와 봅니다.

base_path = '/content/drive/MyDrive/Colab Notebooks/my_data/prudential-life-insurance-assessment/'
data = pd.read_csv(base_path +'train.csv/train.csv')
data

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,...,Medical_Keyword_40,Medical_Keyword_41,Medical_Keyword_42,Medical_Keyword_43,Medical_Keyword_44,Medical_Keyword_45,Medical_Keyword_46,Medical_Keyword_47,Medical_Keyword_48,Response
0,2,1,D3,10,0.076923,2,1,1,0.641791,0.581818,...,0,0,0,0,0,0,0,0,0,8
1,5,1,A1,26,0.076923,2,3,1,0.059701,0.600000,...,0,0,0,0,0,0,0,0,0,4
2,6,1,E1,26,0.076923,2,3,1,0.029851,0.745455,...,0,0,0,0,0,0,0,0,0,8
3,7,1,D4,10,0.487179,2,3,1,0.164179,0.672727,...,0,0,0,0,0,0,0,0,0,8
4,8,1,D2,26,0.230769,2,3,1,0.417910,0.654545,...,0,0,0,0,0,0,0,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59376,79142,1,D1,10,0.230769,2,3,1,0.074627,0.709091,...,0,0,0,0,0,0,0,0,0,4
59377,79143,1,D3,26,0.230769,2,3,1,0.432836,0.800000,...,0,0,0,0,0,0,0,0,0,7
59378,79144,1,E1,26,0.076923,2,3,1,0.104478,0.745455,...,0,0,0,0,0,0,0,0,0,8
59379,79145,1,D2,10,0.230769,2,3,1,0.507463,0.690909,...,1,0,0,0,0,0,0,0,0,8
59380,79146,1,A8,26,0.076923,2,3,1,0.447761,0.781818,...,0,0,0,0,0,0,0,0,0,7

In [ ]:
data.iloc[:,:15]

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,Wt,BMI,Employment_Info_1,Employment_Info_2,Employment_Info_3
0,2,1,D3,10,0.076923,2,1,1,0.641791,0.581818,0.148536,0.323008,0.028,12,1
1,5,1,A1,26,0.076923,2,3,1,0.059701,0.600000,0.131799,0.272288,0.000,1,3
2,6,1,E1,26,0.076923,2,3,1,0.029851,0.745455,0.288703,0.428780,0.030,9,1
3,7,1,D4,10,0.487179,2,3,1,0.164179,0.672727,0.205021,0.352438,0.042,9,1
4,8,1,D2,26,0.230769,2,3,1,0.417910,0.654545,0.234310,0.424046,0.027,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59376,79142,1,D1,10,0.230769,2,3,1,0.074627,0.709091,0.320084,0.519103,0.020,1,3
59377,79143,1,D3,26,0.230769,2,3,1,0.432836,0.800000,0.403766,0.551119,0.100,9,1
59378,79144,1,E1,26,0.076923,2,3,1,0.104478,0.745455,0.246862,0.360969,0.035,9,1
59379,79145,1,D2,10,0.230769,2,3,1,0.507463,0.690909,0.276151,0.462452,0.038,9,1
59380,79146,1,A8,26,0.076923,2,3,1,0.447761,0.781818,0.382845,0.539563,0.123,9,1

### 2. 유사도 측정 예제

#### EDA & Preprocessing

- 퀵하게 데이터를 파악하고, 유사도 측정 예시에 알맞게 가공해봅시다.

In [ ]:
## EDA
## row에 대한 조건, col에 대한 조건 : 정수 index
# 앞에서부터 row 100개와, col 15개를 뽑아서 가져오고 싶습니다.
# data.iloc[:100, :15] # list, tuple, numpy array

# 앞에서부터 col 15개를 가져옵니다.
data = data.iloc[:,:15]
data

# boolean mask
# Q. 데이터 중에 Ins_Age가 0.5를 넘는 모든 사람을 뽑고 싶습니다.
# data.loc[row에 대한 조건, col에 대한 조건]
# 1. 데이터 중에 Ins_Age가 0.5를 넘는 사람 중 'Medical_Keyword'로 시작하는 컬럼만 뽑고 싶습니다.
# index = data.loc[data.Ins_Age >= 0.5, data.columns.str.startswith('Medical_Keyword')].index
# data.loc[index, 'Id']

## col 조건
# Q. Medical_Keyword 라고 시작하는 모든 column을 뽑고 싶습니다.
# data.columns[data.columns.str.startswith('Medical_Keyword')]
# data.columns.str.startswith('Medical_Keyword').shape

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,Wt,BMI,Employment_Info_1,Employment_Info_2,Employment_Info_3
0,2,1,D3,10,0.076923,2,1,1,0.641791,0.581818,0.148536,0.323008,0.028,12,1
1,5,1,A1,26,0.076923,2,3,1,0.059701,0.600000,0.131799,0.272288,0.000,1,3
2,6,1,E1,26,0.076923,2,3,1,0.029851,0.745455,0.288703,0.428780,0.030,9,1
3,7,1,D4,10,0.487179,2,3,1,0.164179,0.672727,0.205021,0.352438,0.042,9,1
4,8,1,D2,26,0.230769,2,3,1,0.417910,0.654545,0.234310,0.424046,0.027,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59376,79142,1,D1,10,0.230769,2,3,1,0.074627,0.709091,0.320084,0.519103,0.020,1,3
59377,79143,1,D3,26,0.230769,2,3,1,0.432836,0.800000,0.403766,0.551119,0.100,9,1
59378,79144,1,E1,26,0.076923,2,3,1,0.104478,0.745455,0.246862,0.360969,0.035,9,1
59379,79145,1,D2,10,0.230769,2,3,1,0.507463,0.690909,0.276151,0.462452,0.038,9,1
59380,79146,1,A8,26,0.076923,2,3,1,0.447761,0.781818,0.382845,0.539563,0.123,9,1

데이터 유사도 측정을 위한 전처리

1. id columns drop
2. 숫자가 아닌 value값 숫자로 변경 (Ordinal Encoding, One-Hot Encoding)

In [ ]:
## Id column을 drop하고, Product_Info_2 column을 숫자로 변경
# 1. Id drop
data.drop(columns='Id') 
# view한 것, 임시로 바꾼 것 1. inplace=True(비추천) 2. override(추천)
# inplace 쓰면 1. 결과출력X 2.원본 증발 3. 속도이득 없음


# 2. Product_Info_2를 숫자로 변경. Ordinal Encoding, One-Hot Encoding
'''
"매우 싫음"  "싫음"  "보통"  "좋음"  "아주 좋음"  --> Ordinal Encoding
1           2      3      4         5

"남자"   "여자"   "trans"   "중성"   "응답하지 않음" --> One-hot Encoding
1         2       3        4         5
'''
# 2-1. Ordinal Encoding (pandas)
data.Product_Info_2 = pd.factorize(data.Product_Info_2)[0]
data = data.drop(columns='Id')
data

# 2-2. One-Hot Encoding (pandas)
# pd.get_dummies(data=data, columns=['Product_Info_2']) # 19가지의 컬럼이 생김, values에서 자기 숫자는 1 나머지는 0으로
# 원-핫 인코딩 : 표현하고 싶은 인덱스에 1의 값을 부여하고, 다른 인덱스에는 0을 부여하는 표현 방식이다

,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,Wt,BMI,Employment_Info_1,Employment_Info_2,Employment_Info_3
0,1,0,10,0.076923,2,1,1,0.641791,0.581818,0.148536,0.323008,0.028,12,1
1,1,1,26,0.076923,2,3,1,0.059701,0.600000,0.131799,0.272288,0.000,1,3
2,1,2,26,0.076923,2,3,1,0.029851,0.745455,0.288703,0.428780,0.030,9,1
3,1,3,10,0.487179,2,3,1,0.164179,0.672727,0.205021,0.352438,0.042,9,1
4,1,4,26,0.230769,2,3,1,0.417910,0.654545,0.234310,0.424046,0.027,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59376,1,7,10,0.230769,2,3,1,0.074627,0.709091,0.320084,0.519103,0.020,1,3
59377,1,0,26,0.230769,2,3,1,0.432836,0.800000,0.403766,0.551119,0.100,9,1
59378,1,2,26,0.076923,2,3,1,0.104478,0.745455,0.246862,0.360969,0.035,9,1
59379,1,4,10,0.230769,2,3,1,0.507463,0.690909,0.276151,0.462452,0.038,9,1
59380,1,5,26,0.076923,2,3,1,0.447761,0.781818,0.382845,0.539563,0.123,9,1

#### 유사도(Proximity)

1. Euclidean distance

2. Cosine Similarity

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
v1 = np.array([1,2,3])
v2 = np.array([0,0,0])

넘파이는 수치 연산을 위한 모듈이기 때문에 당연히 넘파이 연산은 숫자연산 즉, 벡터연산이 잘 되어야함

In [ ]:
L = [1,2,3]
L2 = [0,0,0]

# List 각 원소들끼리 값을 더하는 코드 == vector addition과 동일한 결과
for i, i2 in zip(L,L2) :
    print(i+i2)

L + L2 # concatenation

1
2
3

[1, 2, 3, 0, 0, 0]

In [ ]:
# numpy boradcasting

v1 + v2 # vector addition # (1,2,3) + (0,0,0) = (1,2,3)
v2 - v1 # vector subtraction
v1 * v2 # elementwise multiplication # 원소 by 원소로 곱하기 연산을 해준것 즉, boradcasting한 것
v2 / v1 # elementwise division
v1 + 3 # 3을 확장하여 boradcasting 함
v1 * 2 # scalar multiplication


## universal function(numpy에만 존재하는 개념) - numpy에서 넘어온 universal function 적용!
def reverse_num(x):
    return 1/x

# boradcasting
for i in v1:
    print(reverse_num(i)) 
# 속도 차이 1000배정도 남, for문은 최대한 안쓰는게 좋음
# 모듈에 구현되어 있는 코드(만들어진 함수)를 사용하는 것이 좋음, 그것이 맞는 방법임
# 직접 코드를 만들어서 해보고 싶으면 C++을 사용하는 것이 좋음!

1 / v1

1.0
0.5
0.3333333333333333

array([1.        , 0.5       , 0.33333333])

- 브로드캐스팅을 함수의 개념으로 가져와서 확장한 개념이 universal function!!

- 속도 차이 1000배정도 남, for문은 최대한 안쓰는게 좋음
- 모듈에 구현되어 있는 코드를 만들어진 개념을 사용하는 것이 좋음, 그것이 맞는 방법임
- 직접 코드를 만들어서 해보고 싶으면 C++을 사용하는 것이 맞음!

In [ ]:
## Euclidean distance(L2 distance) = v1과 v2에 있는 모든 원소들끼리 뺀 다음에, 제곱하고 다 더해서 루트 씌운거 (최단거리)

# (v1 - v2) * (v1 - v2)
# (v1 - v2) **2

distance = np.sqrt(np.sum(np.square(v1-v2)))

distance2 = np.linalg.norm(v1 - v2) # 벡터의 크기를 구하는! default - L2 norm

distance == distance2

True

In [ ]:
# lambda를 이용하여 코드 한줄로 L2 distance를 표현
f = lambda x,y : np.sqrt(np.sum(np.square(x - y)))
f(v1, v2)

3.7416573867739413

In [ ]:
# universal function 하여 브로드캐스팅을 함수의 개념으로 확장한 것
def euclidean_distance(x,y):
    return np.sqrt(np.sum(np.square(x - y)))

euclidean_distance(v1, v2)


def euclidean_distance2(x,y):
    return np.linalg.norm(x-y)

euclidean_distance2(v1, v2)

3.7416573867739413

In [ ]:
def cosine_similarity(a, b):
    # 1. 분자 : a o b
    dot = a @ b
    
    # 2. 분모 : ||a||, ||b||
    norm = np.linalg.norm(a) * np.linalg.norm(b) + 1e-6 # 1e-12 이상은 비추천
    return dot / norm

내적 연산자
- numpy : dot 연산 지원 (  np.dot(a,b)  )
- python 3.5 이상부터 : @ 연산자 지원 (a @ b)

In [ ]:
cosine_similarity(v1,v2) # 0 division이라서 당연히 안됨

# 코사인 시밀러리티 절대값이 높은게 유사성이 높다.

0.0

### 6번 고객과 가장 가까운 고객 찾기!

In [ ]:
data.iloc[145:155,:]

# 150에 Employment_Info_1이 NaN임

,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,Wt,BMI,Employment_Info_1,Employment_Info_2,Employment_Info_3
145,1,3,26,0.333333,2,3,1,0.268657,0.636364,0.297071,0.564801,0.000,1,3
146,1,0,26,0.487179,2,3,1,0.298507,0.672727,0.410042,0.726212,0.170,15,1
147,1,12,26,0.487179,2,3,1,0.343284,0.709091,0.236402,0.375385,0.150,9,1
148,1,3,26,1.000000,2,3,1,0.149254,0.745455,0.435146,0.666121,0.080,9,1
149,1,9,26,0.230769,2,3,1,0.149254,0.781818,0.518828,0.747878,0.024,14,1
150,1,5,26,0.282051,2,3,1,0.716418,0.763636,0.382845,0.560019,NaN,1,3
151,1,2,26,0.076923,2,3,1,0.611940,0.781818,0.372385,0.523539,0.000,1,3
152,1,7,26,0.282051,2,3,1,0.582090,0.745455,0.466527,0.716980,0.135,9,1
153,1,7,26,0.076923,2,3,1,0.373134,0.690909,0.284519,0.477256,0.038,9,1
154,1,10,26,0.230769,2,3,1,0.104478,0.581818,0.215481,0.465885,0.037,9,1

In [ ]:
target = data.loc[2] # 6번 고객

## target을 기준으로 모든 데이터에 대해서 유사도를 계산한 뒤, 가장 유사한 고객을 찾아주세요. (index 출력)
# euclidean -> cosine

# euclidean_distance()

# 내가 짠 코드
data2 = data.drop(index=2)

for i in range(len(data2)) :
    euclidean_distance(target, data2.iloc[i, :])

In [ ]:
target = data.loc[2]
distances = []

## target을 기준으로 모든 데이터에 대해서 유사도를 계산한 뒤, 가장 유사한 고객을 찾아주세요. (index 출력)
# euclidean -> cosine

# for i in range(len(data)) :
#     data.loc[i] # row

for idx, row in data.iterrows():
    distances.append(euclidean_distance(target, row))

# for idx, row in data.iterrows():
#     if idx < 5 :
#         print(euclidean_distance(target, row))
#     else :
#         break

In [ ]:
distances[2] = 999999 # 6번 고객만 적당한 큰 값으로 변경

In [ ]:
# distances.remove(0.0) : 혹시 0.0이 또 있을 수 있으니 pop 쓰는 것이 더 확실하게 제거하는 방법임
distances.pop(2) # index 2인 원소를 제거 (자동으로 inplace가 됨)

999999

In [ ]:
np.argmin(distances) # min 값이 있는 index를 추출

# distances.index(min(distances))

18154

**주의** 

코드를 짜다보니 np.argmin 값이 

linalg.norm을 사용한 경우와 

np.sqrt(np.sum(np.square 을 사용한 경우의 결과 값이 달랐습니다.

```python
def euclidean_distance(x,y):
    return np.sqrt(np.sum(np.square(x - y)))

euclidean_distance(v1, v2)


def euclidean_distance2(x,y):
    return np.linalg.norm(x-y)

euclidean_distance2(v1, v2)
```

np.sum에서 nan이 사라져서 그렇습니다

norm 함수 내부에서는 다르게 구현되어 있습니다.

이거는 nan이 나오는게 논리구조상 더 좋은거라서, 주의해야합니다. (결측치를 무시하고 데이터 유사도를 측정하면 안됨)